
main {
    padding-top: 80px;
}

main img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.gatosprimeiro {
    top: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 80px;
   
}

.gatos {
    text-align: center;
}

main img:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    transform: scale(1.01);
}